@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');



.logo{
    display: flex;
    justify-content: center;
    align-content: center;
    
   

}

h3{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    font-family: 'Spartan', sans-serif;
    color:#005385;
    padding-top: 50px;
}

.all{
    background: #fff;

.games{
    background: #fff;

}
}

