
.menu{
    height: 80px;
    background: #fff;
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    
}
    .one{
        padding:20px;
        display: flex;
        flex-direction: row;
       
       

    .two{
        padding: 20px;
       // text-decoration: none;
       
     a {
        cursor: pointer;
    }

    .linav{
        text-decoration: none;
        
    }
    }
    }
