
.menu{
    height: 80px;
    background: #fff;
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    
}
    .one{
        padding:20px;
        display: flex;
        flex-direction: row;
       

    .two{
        padding: 20px;
       // text-decoration: none;
       
    .linav{
        text-decoration: none;
    }
    }
    }
